body {
  background-color: #282c34;
}
div {
  /*text-align: center;*/
  padding: 0 10px;
  color: aliceblue;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav.main{
  position: sticky;
  top:0;
  border-bottom: 1px solid #757575;
}

ul.nav {
  display: flex;
  margin: 0;
  padding: 15px 5px;
  flex-wrap: wrap;
  background-color: #61dafb;
}

ul.nav li {
  list-style-type: none;
}

ul.nav li a {
  display: block;
  color: #282c34;
  text-decoration: none;
  padding: 5px 10px;
}

ul.nav li a:hover {
  color: white;
  background-color: #282c34;
}

footer {
  text-align: center;
  background-color: #61dafb;
  color: #282c34;
}

