// Header
// ==================
.header {
    display: flex;
    justify-content: space-between;
    margin-top: size(40)+rem;


    input {
        background-color: var(--input-header);
        width: size(300)+rem;
        border: none;
        border-radius: size(50)+rem;
        outline: 0;
        padding: size(12)+rem size(23)+rem;
        color: rgba(0, 0, 0, .7);
    }
}