// Margin
// ==================
.margin {
    // Margin top and bottom
    &-tb { 
        margin: size(17)+rem 0;
    }

    // Margin left and right
    &-lr { 
        margin: 0 size(17)+rem;
    }

    // Margin bottom
    &-b {
        margin-bottom: size(17)+rem;
    }
}